body{
    padding: 5% 10% 0% 10%;
}

.Ueberschrift{
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}
.desc{
    margin-left: 35%;

}


#searchbar{
    margin-left: 35%;
    padding:15px;
    border-radius: 10px;
    margin-bottom: 50px;
}

input[type=text] {
    width: 30%;
    max-width: 500px;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}


input[type=text]:focus {
    width: 70%;
}

#list{
    font-size:  1.5em;
    margin-left: 35%;
}

.haltestelle{
    padding: 0;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    margin-left: 35%;
    width: 50%;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.error_msg_div_class_show{
    display: block;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: red;


}

.error_msg_div_class_none{
    display: none;
    margin-left: 35%;
    padding-top: 10px;
    color: red;
}