body{
    padding: 5% 10% 5% 10%;
}

.Ueberschrift{
    justify-content: center;
    text-align: center;
}

#reloadIcon_id{
    width: 20px;
    height: 20px;
}

.Bushaltestelle-div{
    position: relative;
    display: flex;
    justify-content: left;
    align-content: baseline;
}

#Bushaltestelle-id{
    padding-left: 20px;
    position: absolute;
    bottom: 0;
}

.table-responsive{
    padding-top: 20px;
    padding-bottom: 20px;
}

.AndereInformationen-table{
    display: flex;
    min-height: 180px;
    max-height: 200px;
    display: table;
    min-width: 100%;
    #background-color: red;
}

.AndereInformationen-tablecell{
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    display: table-cell;
}

.AndereInformationen-img{
    display: block;
    height: 100px;
    width: 100px;
}


.Jetztige-Zeit-Div{
    text-align: left;
}





.button {
    position: relative;
    padding: 8px 16px;
    #background: #009579;
    background: #92cec9;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.button:active {
    #background: #007a63;
    background: #82b2a6;
}

.button__text {
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

#reload_error_div_id{
    position: relative;
    display: flex;
    justify-content: left;
    align-content: baseline;
}
.error_msg_div_class_show{
    display: block;
    padding-left: 50px;
    padding-top: 10px;
}

.error_msg_div_class_none{
    display: none;
    padding-left: 50px;
    padding-top: 10px;
}
